# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.log

# Virtual environment
venv/
env/
ENV/

# VS Code settings
.vscode/
.vs/

# OS files
.DS_Store
Thumbs.db

# Git
.git/
.gitignore

# Docker image tarballs (if any)
*.tar

# Secrets / config files
.env
